/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional global styles */
body {
  background-color: #2A184E; /* Dark background */
  color: #FFFFFF; /* White text */
}

/* For dark mode */
.dark-mode {
  background-color: #2A184E; /* Dark background */
  color: #FFFFFF; /* White text */
}

input,
textarea,
select {
  color: black !important;
}

input::placeholder,
textarea::placeholder {
  color: #555; /* dark grey placeholder */
}
input,
textarea,
select {
  background-color: white;
  color: black !important;
}
